section.about {
  position: relative;
  height: 80vh;
  background-image: url("/images/about-bg.png");
  background-position: bottom;
  display: grid;
  grid-template-columns: 45% 55%;

  .imageWrapper {
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .info {
    padding-right: 150px;
    z-index: 10;
    position: relative;
    line-height: 1.3em;
    color: #272727;

    p {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
    }

    .buttonContainer {
      margin-top: 50px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        background: black;
        font-family: "Rodchenko", sans-serif;
        color: #fff;
        width: 200px;
        height: 50px;

        &:hover {
          background: #d40b0b;
          transition: 0.1s ease;
          box-shadow: 5px 5px 0px 0px black;
        }
      }
    }
  }
}
