section.artwork {
  // margin-bottom: 100px;
  padding-bottom: 100px;
  padding-top: 95px;
  height: 100vh;
  background: #f4f4f4;
  // border: 2px solid red;

  @media (max-width: 1000px) {
    padding-bottom: 0px;
    height: auto;
  }

  @media (max-width: 500px) {
    height: 100vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .artworkContainerMobile {
    display: none;
    height: 100%;
    overflow: hidden;

    @media (max-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: center;

      .cover {
        display: block;
        width: 100%;
      }

      .arrow {
        position: absolute;
        bottom: 50px;
      }
    }
  }

  .artworkContainer {
    position: relative;
    height: 80vh;
    max-width: 1000px;
    margin: auto;
    // border: 2px solid red;
    overflow: hidden;

    @media (max-width: 1000px) {
      width: 100%;
      padding: 50px;
    }

    @media (max-width: 500px) {
      display: none;
    }

    img {
      position: absolute;
      width: 80vh;
      user-select: none;

      animation: appearingArtwork 1s ease;

      @media (max-width: 1000px) {
        width: calc(100% - 100px);
      }
    }

    .caption {
      font-family: "Rodchenko", sans-serif;
      line-height: 1em;
      position: absolute;
      top: 80%;
      left: 70%;

      @media (max-width: 1000px) {
        bottom: 0px;
        left: 50px;
      }

      p {
        margin-top: 0px;
        margin-bottom: 10px;
        background: #eeeaea;
        width: fit-content;
        padding: 10px 10px 3px 10px;
        animation: appearingCaption 1s ease forwards;
        opacity: 0;

        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
      }
    }
  }
}

@keyframes appearingCaption {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appearingArtwork {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
