header {
  height: 95px;
  display: flex;
  justify-content: end;
  font-family: "Rodchenko", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 15;
  background: #f4f4f4c5;
  backdrop-filter: blur(50px) saturate(300%);
  transition: 0.1s ease;
  font-size: 30px;
  line-height: 2em;

  @media (max-width: 1300px) {
    font-size: 25px;
  }

  @media (max-width: 500px) {
    height: 50px;
    font-size: calc(30px * 0.7);
  }

  &.small {
    height: 50px;
    font-size: calc(30px * 0.7);
  }

  // &.dark {
  //   background: #000;
  // }

  .menu {
    position: absolute;
    transform: translateX(100vw);
    transition: 0.2s ease;
    background: #000000;
    top: 50px;
    left: 0px;
    width: 100%;
    // height: calc(100vh - 50px);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Bahnschrift", sans-serif;
    overflow-y: scroll;

    &.visible {
      transform: translateX(0vw);
    }

    .content {
      display: flex;
      flex-direction: column;
      font-family: "Rodchenko", sans-serif;
      font-size: 37px;
      gap: 45px;
      padding-top: 30px;

      > a {
        padding: 0px 30px;
        color: #fff;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    // border-bottom: 2px solid #454545;
    width: 100%;
    padding: 0px 150px;

    @media (max-width: 1300px) {
      padding: 0px 50px;
    }

    @media (max-width: 500px) {
      padding: 0px 20px;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #d40b0b;
      user-select: none;
    }

    .chezbargo {
      display: none;
      border-radius: 0px;
      border: 0px;
      background: unset;
      padding: 0px;
      margin: 0px;

      > img {
        width: 25px;
      }

      @media (max-width: 500px) {
        display: unset;
      }
    }

    .links {
      display: flex;
      gap: 50px;

      @media (max-width: 500px) {
        display: none;
      }

      .link {
        // border-left: 2px solid #454545;
        position: relative;

        a {
          color: #000;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // padding: 0px 50px;
          // padding-top: 5px;

          &:hover {
            color: #d40b0b;
            transition: 0.1s ease;
            box-shadow: 0px -5px 0px 0px #d40b0b inset;
          }
        }

        // &:last-child::after {
        //   content: "";
        //   display: block;
        //   width: 32px;
        //   height: 32px;
        //   background: #d40b0b;
        //   position: absolute;
        //   bottom: -17px;
        //   left: -17px;
        //   border-radius: 32px;
        //   border: 2px solid #454545;
        // }
      }
    }
  }
}
